<div class="main">
    <div class="Calender" *ngIf="false">
        <h1>
            text
        </h1>
        <div class="edit">
            <form>
                <mat-form-field>
                    <mat-label>Home Text</mat-label>
                    <textarea matInput id="text" formControlName="content"></textarea>
                </mat-form-field>
                <button mat-raised-button type="submit">submit</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="card" *ngFor="let item of calendar">
            <div class="left">
                <h1>{{item.title}}</h1>
                <p>{{item.date}}</p>
            </div>
            <img src="./assets/location.jpg">
        </div>
    </div>
</div>
