.main {
    margin-top: 56px;
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    background-color: green;
    .introText {
        width: auto;
        height:auto;
        padding: 50px 400px 50px 400px;
        font-size: 2.5rem;
        font-family: 'Avenir next';
        color: black;

        .edit {
            width: 100%;
            height:100%;
    
            form {
                width: 100%;
                height:100%;
                display: flex;
                flex-direction: column;
    
                textarea {
                    height: 300px;
                }

                button {
                    position: relative;
                    width: 30%;
                }
            }
        }
    }

    .container {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 20px;

        .card {
            width: auto;
            height: auto;
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            .left {
                padding: 20px;
            }
            p, h1{
                color: black;
            }
            img {
                width: 50%;
                height: auto;
                border-radius: 8px;
            }
        }
    }
}