@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin:0;
  height:auto;
}
* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 100px;
  padding: 1em;

  position: fixed;
  width: 100%;

  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid orange;

}

.top-nav.shrink {
  height: 50px; /* your shrunk navigation bar height */
  /* your additional shrunk navigation bar styles go here */
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu > li {
  overflow: hidden;
  cursor: pointer;
  h4 {
    margin: 1rem;
    color: black;
    transition: all .1s ease-in;
  }

  h4:hover {
    color: orange;
  }
  
  h4:active  {
    background-color: rgba(255, 166, 0, 0.37);
    padding: 1rem;
    margin: 0rem;
    border-radius: 20px;
  }

  #last {
    border: none;
  }

}


.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  background-color: black;
  
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}
@media (hover: hover) {}
@media (max-width: 700px) {

  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    height: 80px;
    padding: 1em;
  
    position: fixed;
    width: 100%;
    border: none;
  
    transition: all 0.17s ease-in-out;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all .17s linear;
  }
  .menu.shrink{
    margin-top: 50px;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li:checked ~ .menu li{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    background-color: white;
    margin: 1rem;
    color: black;

    h4 {
      width:100%;
      text-align: center;
      color: black;
      transition: all .09s ease-in;
    }
  
    h4:hover {
      color: black;
    }
    
    h4:active  {
      background-color: rgba(255, 166, 0, 0.808);
      padding: 1rem;
      margin: 0rem;
      border-radius: 20px;
    }
  }

  .menu > #last {
      border-bottom: 1px orange solid !important;
  }


}

