<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav" [class.shrink]="isShrink">
    <div>
      TrioMorphesk
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu" [class.shrink]="isShrink">
      <li routerLink="">Home</li>
      <li routerLink="calender">Kalender</li>
      <li routerLink="vita">Vita</li>
      <li routerLink="gallery">Gallery</li>
      <li routerLink="contact">Contact</li>
      <li routerLink="impressum" id="last">Impressum</li>
    </ul>
  </section>
