<!--<body ontouchstart="">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav" [class.shrink]="isShrink">
    <div>
      TrioMorphesk
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu" [class.shrink]="isShrink">
      <li routerLink=""><h4>Home</h4></li>
      <li routerLink="calender"><h4>Kalender</h4></li>
      <li routerLink="vita"><h4>Vita</h4></li>
      <li routerLink="gallery"><h4>Gallery</h4></li>
      <li routerLink="contact"><h4>Contact</h4></li>
      <li routerLink="impressum"><h4>Impressum</h4></li>
      <li routerLink="admin" id="last"><h4>Admin</h4></li>
    </ul>
  </section>
</body>-->

<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
  <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TrioMorphesk</span>
    </mat-toolbar>
    <mat-form-field>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="side">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-drawer-content>
</mat-drawer-container>