<body ontouchstart="">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav" [class.shrink]="isShrink">
    <div>
      TrioMorphesk
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu" [class.shrink]="isShrink">
      <li routerLink=""><h4>Home</h4></li>
      <li routerLink="calender"><h4>Kalender</h4></li>
      <li routerLink="vita"><h4>Vita</h4></li>
      <li routerLink="gallery"><h4>Gallery</h4></li>
      <li routerLink="contact"><h4>Contact</h4></li>
      <li routerLink="impressum"><h4>Impressum</h4></li>
      <li routerLink="admin" id="last"><h4>Admin</h4></li>
    </ul>
  </section>
</body>