<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-menu></app-menu>
<router-outlet></router-outlet>


<!--
    [19:21, 1.2.2023] Franziska Ludwig: Also für die landing page hätten wir gerne das pic mit der Nummer 9906 am Ende. Oder wenn du denkst es passt besser:
    9539; 9537; 9518; 9517; 0009
    [19:23, 1.2.2023] Franziska Ludwig: Für die vitas: 9975; 9982; 9986; 9999
    [19:34, 1.2.2023] Franziska Ludwig: Und ansonsten hier noch ein paar Bilder, die du einfach erstmal nach deinem Geschmack auswählen kannst: 0022; 0003; 0041; 0125; 0192; 0193; 0222; 0226; 0234; 0311; 9443; 9449; 9494; 9524; 9911; 9940; 9946; 9955; 9995
    [19:35, 1.2.2023] Franziska Ludwig: Sorry. Ist a lot. Wenn wir es noch bisschen eingrenzen sollen, sag Bescheid, aber du kannst auch erstmal schauen, was du so passend findest
-->