.home{
    .custom-shape-divider-top-1688778131 {
        position: absolute;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1688778131 svg {
        position: relative;
        display: block;
        width: calc(242% + 1.3px);
        height: 117px;
    }

    .custom-shape-divider-top-1688778131 .shape-fill {
        fill: #000000;
    }
    .cover {
        background-image: url("https://uc3cc83fcdcfd68eb63c4419d2e3.previews.dropboxusercontent.com/p/thumb/AB9fNI2KtQypCp9jYni7bTRJicAR232i5Xswa9nBmGyPIlAnBHlS-L4ZW9amsvfwD2RThVcwow2GUHE3HPoDgCMVPrLLe0jFq2oZC-1yueF3ix1jTSMmfjamiWLkAJQmk0JR9wkRsxKkw1Zzzs_-BRtzKiLaHftQCmKefe-DfaZmQZKq-ReX8q3DkZ47UaDd6yPZtugPoVDA_OdZYx2OhcjAEA0zDjaED8ITjSEOoswyNrwuTqbtK1KTL_yKaNBpSd_wk169TnVxcaw7mrqLbFoREG7U4rlb_3y_KN5wxa3ZtkT9bDlosgNLkQMnmTZbAlKJ-TCwZtSI3agw_ppM5yPy/p.jpeg");
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-position: bottom center;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            color: white;
            font-size: 8rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 18rem;
        }
    }

    .textSection {
        background-color: #f5f5f5;
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        .text {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        .button {
            background-color: #000000;
            color: white;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        .cover {
        height: 35vh;
            .title {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }
    }
}