<div class="header">
    <div class="cover">
        <h1>Trio Morphesk</h1>
    </div>
</div>
<div class="main">
    <div class="introText">
        <h1 *ngIf="auth() == false">
            {{text}} 
        </h1>
        <div class="edit" *ngIf="auth()">
            <form [formGroup]="homeText" (ngSubmit)="updateText()">
                <mat-form-field>
                    <mat-label>Home Text</mat-label>
                    <textarea matInput id="text" formControlName="content">{{text}}</textarea>
                </mat-form-field>
                <button mat-raised-button type="submit">submit</button>
            </form>
        </div>
    </div>
    <div class="video">
        <video id="sampleMovie" src="./assets/sample-5s.mp4" controls></video>
    </div>
</div>