<div class="header">
    <div class="cover">
        <h1>TRIO MORPHESK</h1>
    </div>
</div>
<div class="main">
    <div class="introText">
        <h1 *ngIf="!auth">
            lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
            labore et dolore magna aliquyam erat, sed diam voluptua. at vero eos et accusam et justo duo dolores 
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
            t labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </h1>
        <div class="edit" *ngIf="auth">
            <form>
                <textarea id="text">{{text}}</textarea>
                <button type="button">submit</button>
            </form>
        </div>
    </div>
    <div class="video">
        <video id="sampleMovie" src="./assets/sample-5s.mp4" controls></video>
    </div>
</div>